<ion-view title="Dashboard" cache-view="false" id="page20">
  <ion-content padding="false" style="background: url(img/HBd7UfpfRBKKvdohtt3p_fundo-App.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="dashboards-container10">
      
      <div class="spacer" style="width: 0px; height: 14px;"></div>
         <ion-col class="row">
          <ion-col class="col col-100"  ui-sref="menu.ordemListaGenerica({'id':0})">
            <p style="background: rgba(51, 51, 51, 0.55); color: #fff; padding: 10px">
              <span style="display: block; font-size: 18px;line-height: 50px">
                <ion-icon style="font-size: 19px;" class="fa fa-bell"></ion-icon> {{notificacaoNaoLida}} New orders
                <ion >
                  <i style="float:right; color: rgba(255,255,255,0.5); font-size: 39px;" class="icon ion-load-a"></i>
                </ion>
              </span>
             
            </p>
          </ion-col>
        </ion-col>
        <ion-col class="row">
          <ion-col class="col col-100" ui-sref="menu.ordemListaGenerica({'id':1})" >
            <p style="background: rgba(51, 51, 51, 0.55); color: #fff; padding: 10px">
              <span style="display: block; font-size: 18px;line-height: 50px">
                <ion-icon style="font-size: 19px;" class="fa fa-bell"></ion-icon> {{ordensAceitas}} Accepted orders
                <ion >
                  <i style="float:right; color: rgba(255,255,255,0.5); font-size: 39px;" class="icon ion-checkmark-round"></i>
                </ion>
              </span>
             
            </p>
          </ion-col>
        </ion-col>
        <ion-col class="row">
          <ion-col class="col col-100" ui-sref="menu.ordemListaGenerica({'id':2})" >
            <p style="background: rgba(51, 51, 51, 0.55); color: #fff; padding: 10px">
              <span style="display: block; font-size: 18px;line-height: 50px">
                <ion-icon style="font-size: 19px;" class="fa fa-bell"></ion-icon> {{ordensDespachadas}} Sent orders

                <ion >
                  <i style="float:right; color: rgba(255,255,255,0.5); font-size: 39px;" class="icon ion-paper-airplane"></i>
                </ion>
              </span>
             
            </p>
          </ion-col>
        </ion-col>
        <ion-col class="row">
          <ion-col class="col col-100" ui-sref="menu.ordemListaGenerica({'id':4})" >
            <p style="background: rgba(51, 51, 51, 0.55); color: #fff; padding: 10px">
              <span style="display: block; font-size: 18px;line-height: 50px">
                <ion-icon style="font-size: 19px;" class="fa fa-bell"></ion-icon> {{ordensCanceladas}} Cancel orders

                <ion >
                  <i style="float:right; color: rgba(255,255,255,0.5); font-size: 39px;" class="icon ion-close-round"></i>
                </ion>
              </span>
             
            </p>
          </ion-col>
        </ion-col>
       <!-- <ion-col class="row">

        <ion-col class="col col-50" ui-sref="menu.agenda">
          <p style="background: #19B698; color: #fff; padding: 10px;border-radius: 3px;">
            <span style="display: block;     font-size: 20px;line-height: 50px">
              <ion-icon style="font-size: 30px;" class="icon ion-clock"></ion-icon> 5
              <ion >
                <i style="float:right; color: rgba(255,255,255,0.5);" class="icon ion-android-add-circle"></i>
              </ion>
            </span>
            Orders (today)

          </p>
        </ion-col>
        <ion-col class="col col-50" ui-sref="menu.minhasMetas">
          <p style="background: #19B698; color: #fff; padding: 10px; border-radius: 3px;">
            <span style="display: block;     font-size: 20px;line-height: 50px">
              <ion-icon style="font-size: 30px;" class="icon ion-clock"></ion-icon> £115,00
              <ion >
                <i style="float:right; color: rgba(255,255,255,0.5);" class="icon ion-android-add-circle"></i>
              </ion>
            </span>
            Orders (today)
          </p>
        </ion-col>
      </ion-col> -->
      <!-- <ion-col class="row">
        <ion-col class="col col-50" ui-sref="menu.listaDeContatos">
          <p style="background: #4AA3DF; color: #fff; padding: 10px; border-radius: 3px;">
            <span style="display: block;     font-size: 20px;line-height: 50px">
              <ion-icon style="font-size: 30px;" class="icon ion-calendar"></ion-icon> 59
              <ion >
                <i style="float:right; color: rgba(255,255,255,0.5);" class="icon ion-android-add-circle"></i>
              </ion>
            </span>
            Orders (Last 30 days)
          </p>
        </ion-col>
        <ion-col class="col col-50" ui-sref="menu.lojaVirtual">
          <p style="background: #4AA3DF; color: #fff; padding: 10px;border-radius: 3px;">
            <span style="display: block;     font-size: 20px;line-height: 50px">
              <ion-icon style="font-size: 30px;" class="icon ion-calendar"></ion-icon> £115,00
              <ion >
                <i style="float:right; color: rgba(255,255,255,0.5);" class="icon ion-android-add-circle"></i>
              </ion>
            </span>
            Orders (Last 30 days)

          </p>
        </ion-col>
      </ion-col> -->
      <!-- <div>
        <ion-col class="row">
          <ion-col class="col col-50" ui-sref="menu.agenda">
            <p style="background: #264C5A; color: #fff; padding: 10px;border-radius: 3px;">
              <span style="display: block;     font-size: 20px;line-height: 50px">
                <ion-icon style="font-size: 30px;" class="icon ion-stats-bars"></ion-icon> 70
                <ion >
                  <i style="float:right; color: rgba(255,255,255,0.5);" class="icon ion-android-add-circle"></i>
                </ion>
              </span>
              Total of Orders
            </p>
          </ion-col>
          <ion-col class="col col-50" ui-sref="menu.podcastCategoria">
            <p style="background: #264C5A; color: #fff; padding: 10px;border-radius: 3px;">
              <span style="display: block;     font-size: 20px;line-height: 50px">
                <ion-icon style="font-size: 30px;" class="icon ion-stats-bars"></ion-icon> £115,00
                <ion >
                  <i style="float:right; color: rgba(255,255,255,0.5);" class="icon ion-android-add-circle"></i>
                </ion>
              </span>
              Total of Orders

            </p>
          </ion-col>
        </ion-col>
       
     
      <div></div>
    </div> -->
    <div></div>
  </ion-content>
</ion-view>