<ion-view title="Help" id="page15">
  <ion-content padding="true" class="has-header">
    <ion-list id="ajuda-list1">
      <div class="item item-body" id="ajuda-list-item-container11" ng-repeat="ajuda in data.data">
        <div id="ajuda-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>{{ajuda.pergunta}}</strong>
          </p>

          <p style="color:#000000;">{{ajuda.resposta}}</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>