<ion-view title="Cadastre-se" hide-back-button="true" id="page12">
  <ion-content padding="true" style="background: url(img/AEu0Sy4PTniNAB145VIN_bg-loading.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <div>
      <img src="img/BBTzc1whRqGCxAdtpkWT_logo.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="cadastreSe-form9" class="list">
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <ion-list id="cadastreSe-list15">
        <label class="item item-input" id="cadastreSe-input6">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastreSe-input7">
          <span class="input-label">Email</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastreSe-input8">
          <span class="input-label">Senha</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastreSe-input9">
          <span class="input-label">Telefone</span>
          <input type="text" placeholder="">
        </label>
        <ion-checkbox id="cadastreSe-checkbox9">Aceito os termos e condições</ion-checkbox>
      </ion-list>
      <div id="cadastreSe-markdown23" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">Clique aqui para abrir os
          <strong>termos e condições</strong>
        </p>
      </div>
      <a ui-sref="menu.aguardando()" id="cadastreSe-button13" class="button button-royal button-block">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>