<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-dark">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar royal label-bold" id="menu-list-item23">
          <img src="img/zGhUl741Sdi9SrgSTnKT_761949ee8da3e47.jpg">
          <h2royal>{{nome_entregador}}
           
          </h2royal>
        </ion-item>
       
        <ion-item class="item-icon-right item-menu" id="menu-list-item1" ui-sref="menu.aguardando()" menu-close="">Dashboard
          <i class="icon ion-arrow-graph-up-right"></i>
        </ion-item>
        <ion-item class="item-icon-right item-menu" id="menu-list-item10" ui-sref="menu.ordemLista()" menu-close="">Orders
          <i class="icon ion-ios-list-outline"></i>
        </ion-item>       
       <!--  <ion-item class="item-icon-right item-menu" id="menu-list-item7" ui-sref="menu.ajuda()" menu-close="">Help
          <i class="icon ion-information-circled"></i>
        </ion-item>         -->
        <ion-item class="item-icon-right item-menu" id="menu-list-item13" ng-click="logout()">Exit
          <i class="icon ion-log-out"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>