<ion-view title="Orders" cache-view="false" id="ordem-lista">
  <ion-content padding="false"  class="has-header">
  <center><a ng-click="atualiza()" style=" width: 65%;" class="button button-black button-block icon-left ion-android-refresh">Update order list</a></center>
    <div id="dashboards-container10">
      
      <!-- <div class="spacer" style="width: 0px; height: 14px;"></div> -->
        <ion-list id="agendas-list8" >
        <!-- <i class="icon ion-navicon-round icon-barra" aria-hidden="true"  ng-click="showConfirm()" ></i> -->
          <ion-item class="item item-avatar" ng-repeat="pedido in listaDePedidos.data" id="agendas-list-item22" ui-sref="menu.ordemDetalhe({'id':pedido.id})">
             <img ng-if="pedido.status_restaurante == 0" src="img/icone-carrinho-roxo.png">
             <img ng-if="pedido.status_restaurante == 1" src="img/icone-carrinho-azul.png">
             <img ng-if="pedido.status_restaurante == 2" src="img/icone-carrinho-verde.png">
             
             <h2>Order #{{pedido.id}}</h2>
             
             <p>{{pedido.data_venda}}</p>
            
          </ion-item>

        </ion-list>
     
       
      
     
   
  </ion-content>
</ion-view>