<ion-view title="Order Details" cache-view="false" id="ordem-lista">

    <ion-content padding="false"  class="has-header">
    <div class="spacer" style="width: 0px; height: 14px;"></div>
    <div>
      <div style="margin-top: 10%;font-size: 20px;"><center>Order Number</center></div>
      <div style="font-size: 22px;font-weight: bolder;"><center>{{ordem}}</center></div>
      <div style="margin-top: 2%;font-size: 10px;" ui-sref="menu.ordemInformacoes({'id':id})">
        <center>
         <center><i class="icon ion-information-circled" style="font-size: 15px;"></i></center>
         <center>More information</center>
          
        </center>
      </div>
    </div>    

    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>

    <div class="list">
      <div class="item item-divider">
        <center>Items</center>
      </div>

      <div class="list" ng-repeat="p in meusPedidosDetalhe.data.produto">
      <div class="row">
        <div class="col-10">
          {{p.qtd}}x
        </div>
        <div class="col-67">
          <span>{{p.nome}}</span>
          <div ng-repeat="ad in p.adicional" >
           <span>{{ad}}</span>
         </div><br>
        </div>
        <div class="col-20">
         
        </div>

      </div>
      
     
      </div>

      
    </div>


         
    
  </ion-content>
<!--   <ion-footer-bar align-title="left" class="bar-dark">
  <div class="buttons">
    <button class="button">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar> -->
<ion-footer-bar  class="bar-dark icones" style="display: flex;flex-wrap: wrap;justify-content: space-around;justify-content: baseline;">
  
   <button ng-if="status_restaurante == 0" ng-click="ordemAceita()" class="button button-positive" style="width: 45%; left: 10px; position: absolute;">Accept order</button>
   <button ng-if="status_restaurante == 1"  class="button button-positive" style="width: 45%; left: 10px; position: absolute;">Accept order</button>
   <button ng-if="status_restaurante == 2"  class="button button-positive" style="width: 45%; left: 10px; position: absolute;">Accept order</button>

 
  <button ng-if="status_restaurante == 0"  class="button button-balanced" style="width: 45%;">Call the driver</button>
  <button ng-if="status_restaurante == 1" ng-click="chamaEntregador()" class="button button-balanced" style="width: 45%;">Call the driver</button>
  <button ng-if="status_restaurante == 2"  class="button button-balanced" style="width: 45%;">Call the driver</button>
  
  
  
</ion-footer-bar>
</ion-view>